[workspace]
value_file = "signac_statepoint.json"

# default settings for the actions
[default.action]
command = "python actions.py --action $ACTION_NAME {directories}"
[default.action.resources]
processes.per_submission = 8
memory_per_cpu_mb = 512
[default.action.submit_options.habrok]
setup = """
module load LAMMPS/23Jun2022-foss-2021b-kokkos
module unload SciPy-bundle/2021.10-foss-2021b
module load Anaconda3/2024.02-1
conda activate bsa
"""
output_file_path = "slurm_outs"


[[action]]
name = "makedirs"
command = "(cd workspace/{directory} && mkdir lmp_bin lmp_data lmp_trj)"
products = ["lmp_data", "lmp_bin", "lmp_trj"]
[action.resources]
processes.per_submission = 1

[[action]]
name = "tmp"
previous_actions = ["makedirs"]
command = "cp  ../slab-equil/workspace/7673accdf797a06965e332b4ad186e80/lmp_data/startEqui.data  workspace/{directory}/lmp_data/SlabEq.data"
products = ["lmp_data/SlabEq.data"]
[action.resources]
processes.per_submission = 1

[[action]]
name = "subEquil"
previous_actions = ["makedirs", "tmp"]
products = ["subEquil.done"]
launchers = ["mpi" , "openmp"]
[action.group]
maximum_size = 1
[action.resources]
processes.per_submission = 8
walltime.per_submission = "15:00:00" # comment out when running locally (none cluster)



