# data files from simulation
workspace
lmp_data/
lmp_bin/
start/
*.bin
*.dat 
*.data 
*.trj
*.lammps*
*.loglmp
*.outlmp
*.mol

# submission scripts and outputs
submit*.sh
slurm-*.out

# exclude lists for syncing
exclude-list

# general helper functions
plot_equil.py
get_jobID.sh


# temperary files
tmp
